# ============================================================
#  Vivado 产生的文件（可由 rtl/ sim/ prj/*.srcs/ 重新产生）
# ============================================================
prj/ov5640_lcd.gen/
prj/ov5640_lcd.runs/
prj/ov5640_lcd.hw/
prj/ov5640_lcd.sim/
prj/ov5640_lcd.cache/
prj/ov5640_lcd.ip_user_files/
prj/.Xil/

# Vivado 执行记录 / 产物
*.jou
*.log
*.str
*.pb
*.dcp
*.bit
*.bin
*.ltx
*.xsa
*.hwdef
*.wdb
*.wcfg.bak
webtalk*

# XSim
xsim.dir/
sim/xsim.dir/

# 编辑器 / 操作系统
.vscode/
.idea/
Thumbs.db
desktop.ini
*~
